@model aplusautism.Bal.DTO.LessonViewDTO

<style>
        .h4, h4 {
            font-size: 1.5rem;
        }

        .modal-body {
            position: relative;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            text-align: center;
            padding: 2rem;
        }


        #manage-lesson-description .table thead.bg-primary {
            background-color: #d65a2f !important;
        }

        #manage-lesson-description .table {
            table-layout: fixed;
        }

            #manage-lesson-description .table thead th {
                white-space: nowrap;
            }

            #manage-lesson-description .table thead td,
            #manage-lesson-description .table thead th {
                border-bottom-width: 1;
            }

        #lesson-manage select {
            font-size: 0.92rem !important;
        }

        /*@@media (min-width:767px)
               {
                   #lesson-manage .
                   .height
                   {
                       min-height:52.5vh;
                   }
               }*/

        .table-responsive.tablesticky {
            height: 60vh;
            overflow: auto;
        }

            .table-responsive.tablesticky .table thead th {
                position: sticky;
                z-index: 1;
                background: #d65a2f;
                top: -1px;
            }

        #LessonId, #AwardId {
            height: 26px;
        }

        .table-responsive.tablesticky .table td, .table-responsive.tablesticky .table th {
            padding: 0.63rem;
        }

        #nopreview {
            position: relative;
        }

        #nopreviewImg {
            width: 94.6%;
            position: relative;
            z-index: 2;
            /*   padding: 0 77px;*/
            background: #e7e8e9;
            overflow: hidden;
            margin: auto;
            left: 0;
            top: -1px;
        }

            #nopreviewImg img {
                height: 100%;
                width: 100%;
            }

        #nopreview video#video {
            position: absolute;
            top: 0;
            width: 94.5%;
            height: 100%;
            z-index: 1;
            display: block;
            left: 2.8%;
        }

        form#LessonSubmit .help-block {
            position: initial;
        }

    #FavId.red-bg {
        border: none;
        background: #d65a2f;
        border-radius:2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
    }
    #FavId.red-bg:focus,#FavId.red-bg:active
    {
        border:none;
        outline:none;
    }
    #FavId.red-bg i {
        font-size: 16px;
        vertical-align: baseline;
        position: relative;
        color: #fff;
        top:1px;
    }
</style>


<div class="main-content container-fluid">
    <div class="lessons" style="pointer-events: all;">
        <div class="mb-2 justify-content-between row">
            <div class="col-xl-6 col-lg-12 mt-4 mt-xl-0">
                <h4 class="text-muted text-bold">Lesson</h4>
                <div id="lesson-manage" class="card">
                    <div class="card-body height">
                        <div class="col-md-12 px-0">
                            <div class="row">
                                <div class="col-sm-12">
                                    <form id="LessonSubmit" asp-action="PostLesson" asp-controller="CustSubscription" method="post" class="w-100" enctype="multipart/form-data">
                                        <input type="hidden" id="LessonId" class="form-control" value="" name="LessonSetupId" />

                                        <input type="hidden" id="status" class="form-control" value="" name="status" />

                                        <div class="form-group row mb-2">
                                            <label class="col-sm-3 col-form-label">
                                                <b>Lesson Name </b>
                                            </label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" value="" id="ManageTitle" name="Manage" required>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-sm-3 col-form-label">
                                                <b>Category </b>
                                            </label>
                                            <div class="col-sm-9">
                                                <select id="CategoryId" name="LessonCategoryId" class="form-control" required>
                                                    <option id="titledrop" value="">---Select Category---</option>
                                                    @foreach (var descdata in Model.LessonTitle)
                                                    {
                                                        <option value="@descdata.GlobalCodeID">@descdata.GlobalCodeName</option>
                                                        @* <input type="text" readonly class="form-control-plaintext" id="Title" value="Title"> *@
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-sm-3 col-form-label">
                                                <b>Description </b>
                                            </label>
                                            <div class="col-sm-9">
                                                @*<textarea asp-for="Description" name="Description" class="form-control-plaintext" id="Description" value="Description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</textarea>*@
                                                <textarea type="text" name="Description" class="form-control" id="Description" value="Description" required></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-sm-3 col-form-label">
                                                <b>Language </b>
                                            </label>
                                            <div class="col-sm-9">
                                                <select id="languageid" name="LanguageId" class="form-control" required>
                                                    <option id="language" value="">---Select Language---</option>

                                                    @foreach (var language in Model.Language)
                                                    {
                                                        <option value="@language.GlobalCodeName">@language.GlobalCodeName</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row mt-4 mb-3">
                                            <label class="col-sm-3 col-form-label pr-xl-0"><b>Upload Full Video</b></label>
                                            <div class="col-sm-9">
                                                <input asp-for="Videodata" ID="FileUpload1" type="file" accept="video/*" name="videodata" muted required>
                                                <span asp-validation-for="Videodata" class="text-danger"></span>
                                                @*<input class="file-upload" type="file" name="img_Upload" accept="video/*">*@
                                            </div>
                                        </div>

                                        <div class="form-group row mt-4 mb-3">
                                            <label class="col-sm-3 col-form-label pr-xl-0"><b>Upload Mobile Video</b></label>
                                            <div class="col-sm-9">
                                                <input asp-for="trailvideodata" ID="FileUpload2" type="file" accept="video/*" muted name="trailvideodata" required>
                                                <span asp-validation-for="trailvideodata" class="text-danger"></span>

                                            </div>
                                        </div>
                                        <div class="form-group row mt-4 mb-3">
                                            <label class="col-sm-3 col-form-label pr-xl-0"><b>Upload Trial Video</b></label>
                                            <div class="col-sm-9">
                                                <input asp-for="mobilevideodata" ID="FileUpload3" type="file" accept="video/*" muted name="mobilevideodata" required>
                                                <span asp-validation-for="mobilevideodata" class="text-danger"></span>

                                            </div>
                                        </div>

                                        <div class="form-group row mb-2">
                                            <label class="col-sm-3 col-form-label">
                                                <b>Sort Order </b>
                                            </label>
                                            <div class="col-sm-9">
                                                <input type="number" name="sortorder" class="form-control" id="sortorder" value="sortorder" required>
                                            </div>
                                        </div>

                                        <div class="form-group row mt-3">
                                            <label class="col-sm-3 col-form-label"></label>
                                            <div class="col-sm-9">
                                                <button type="submit" class="btn btn-md btn-primay" onclick="checkisedit('Draft')" value="Draft" name="button">Draft</button>
                                                <button type="submit" onclick="checkisedit('Publish')" class="btn btn-md btn-success mx-1 mx-lg-2" value="Publish" name="button">Publish</button>
                                                @*<button id="preview" type="button" class="btn btn-md btn-info" value="Preview" name="button">Preview</button>*@
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 mt-4 mt-xl-0">
                <h4 class="text-muted text-bold">Videos</h4>
                <div id="lesson-manage" class="card">
                    <div class="card-header">
                        <h6 class="mb-0" id="previewlang">Language</h6>
                    </div>
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div id="nopreview">
                                <div class="col-12 text-center"></div>
                                <div id="nopreviewImg">
                                    <img src="~/custome_containt/images/no-preview-video.png" />
                                </div>


                                <video autoplay muted loop controls id="video">
                                    <source src="@Url.Content("")" type="video/mp4">*

                                    Your browser does not support the video tag.
                                </video>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4 mx-1">
    <div class="col-12 mb-4">
        <div id="manage-lesson-description" class="card">
            <div class="card-body">
                <div class="row">

                    <div class="table-responsive tablesticky">
                        <table class="table table-bordered" id="lessonTable">
                            <thead class="bg-primary text-white">

                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Language</th>
                                    <th>Status</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody id="tblload">
                                @{
                                    foreach (var descdata in Model.Lessonsetup)
                                    {
                                            <tr>
                                                <td>@descdata.LessonTitle</td>
                                                <td>@descdata.LessonDescription</td>
                                                <td>@descdata.LessonLanguage</td>
                                                <td>@descdata.LessonStatus</td>
                                                <td class="text-center">
                                                    <!-- <a type="button" title="Edit" class="btn btn-link btn-sm Edit" href="javascript:void(0)">
                                                        <i class="fa fa-pencil text-primary font-size-18" aria-hidden="true"></i>
                                                    </a>-->
                                                    <button id="LessonId"  title="Edit" onclick="EditLesson('@descdata.LessonSetupID')" class="btn btn-sm btn-info"><i class="fa fa-pencil text-white font-size-18" aria-hidden="true"></i></button>

                                                    <!-- <button id="LessonId"  class="btn btn-sm btn-info"><i class="fa fa-pencil text-white font-size-18" aria-hidden="true"></i></button> -->
                                                    <button id="AwardId" data-toggle="modal" href="#DeleteAward"
                                                    title="Delete" onclick="AwardIdFun('@descdata.LessonSetupID')" class="btn btn-sm btn-danger"><i class="fa fa-trash text-white font-size-18" aria-hidden="true"></i></button>


                                                    @if (@descdata.IsFavorite == false)
                                                {

                                                        <button id="FavId" data-toggle="modal" href="#FavAward" 
                                                        title="Make this Video Favourite" onclick="FavIdFun('@descdata.LessonSetupID')" class='red-bg btn btn-sm'><i class="fa fa-star-o"></i></button>

                                                }
                                                else
                                                {

                                                        <button id="ExistFavId" href="#AlreadyFavId"  style="color: white;background-color: green;"
                                                        title="Remove this Video from Favourite" onclick="AlredyFavIdFun('@descdata.LessonSetupID')" id="AlreadyFavId" data-toggle="modal" href="#FavAward" class='green-bg btn btn-sm'><i class="fa fa-star-o"></i></button>
                                                }



                                            </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<form id="ModelfromValidation">
    <div class="modal fade" id="DeleteAward" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><b>Delete Lesson</b></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
                </div>
                <div class="modal-body">
                    <h6> Are you sure to delete this lesson </h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" id="btnCancel" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger btn-sm" id="btnsubmit" onclick="return RemoveLesson();">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="ModelfromValidation">
    <div class="modal fade" id="FavAward" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><b>Notification</b></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
                </div>
                <div class="modal-body">
                    <h6> Are you sure to add this to favourite </h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" id="btnCancel" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger btn-sm" id="btnsubmit" onclick="return FavLesson();">Yes</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="ModelfromValidationcheck">
    <div class="modal fade" id="AlreadyFavId" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><b>Notification</b></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
                </div>
                <div class="modal-body">
                    <h6>Are you sure to remove this lesson from favourite </h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" id="btnCancel" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger btn-sm" id="btnsubmit" onclick="return AlreadyFavLesson();">Yes</button>
                </div>
            </div>
        </div>
    </div>
</form>




<script>
    $(".sidebar-section #lm_lessonDetail").addClass('active');
</script>


<script>
    //input file onchnage event vidoe show
    debugger;

    $("#FileUpload1").change(function() {
        //alert("The text has been changed.");
        $("#nopreview video#video").css("z-index", "2");
        $("#nopreviewImg").css("z-index", "1");
        if (document.getElementById("FileUpload2").files.length !== 0) {
            //var c = $('#video').find('source')[1];
            //c.src = '';
            $('#video').attr('src', '')
        }
        return false;
    });

    $("#FileUpload2").change(function() {
        $("#nopreview video#video").css("z-index", "2");
        $("#nopreviewImg").css("z-index", "1");
        if (document.getElementById("FileUpload1").files.length !== 0) {
            $('#video').attr('src', '')
        }
        return false;
    });
    $("#FileUpload3").change(function() {
        $("#nopreview video#video").css("z-index", "2");
        $("#nopreviewImg").css("z-index", "1");
        if (document.getElementById("FileUpload3").files.length !== 0) {
            $('#video').attr('src', '')
        }
        return false;
    });

</script>

<script>
    $("#preview").click(function() {
        //alert('Confirm to refresh alert messages.');
        $("#nopreview video#video").css("z-index", "2");
        $("#nopreviewImg").css("z-index", "1");

        return false;
    });
    //$("#nopreview video#video").css("z-index", "1");
    //$("#nopreviewImg").css("z-index", "2");


    @if (@ViewBag.NotUpdate != null && @ViewBag.NotUpdate == "Faild")
    {
        @:swal("OOPS!", "Something Went Wrong", "error");
    }
    else
    {
        //@:swal("Thanks!", "Lesson Has Been Deleted!", "success");
    }

</script>
<script>

    //const input = document.getElementById('FileUpload1');
    //    const video = document.getElementById('video');
    //    const videoSource = document.createElement('source');

    //    input.addEventListener('change', function () {
    //        const files = this.files || [];

    //        if (!files.length) return;

    //        const reader = new FileReader();

    //        reader.onload = function (e) {
    //            videoSource.setAttribute('src', e.target.result);
    //            video.appendChild(videoSource);
    //            video.load();
    //            video.play();
    //        };

    //        reader.onprogress = function (e) {
    //            console.log('progress: ', Math.round(e.loaded * 100 / e.total));
    //        };

    //        reader.readAsDataURL(files[0]);
    //    });


</script>

<script>

           //const input = document.getElementById('FileUpload2');
           //     const video = document.getElementById('video');
           //     const videoSource = document.createElement('source');

           //     input.addEventListener('change', function () {
           //         const files = this.files || [];

           //         if (!files.length) return;

           //         const reader = new FileReader();

           //         reader.onload = function (e) {
           //             videoSource.setAttribute('src', e.target.result);
           //             video.appendChild(videoSource);
           //             video.load();
           //             video.play();
           //         };

           //         reader.onprogress = function (e) {
           //             console.log('progress: ', Math.round(e.loaded * 100 / e.total));
           //         };

           //         reader.readAsDataURL(files[0]);
           //     });

             const inputFile = document.getElementById("FileUpload1");
    const videoMain = document.getElementById("video");

    inputFile.addEventListener("change", function() {
        const file = inputFile.files[0];
        const videourl = URL.createObjectURL(file);
        video.setAttribute("src", videourl);
        video.play();
    })

    const inputFiletrail = document.getElementById("FileUpload2");
    const videotrail = document.getElementById("video");

    inputFiletrail.addEventListener("change", function() {
        const file = inputFiletrail.files[0];
        const videourl = URL.createObjectURL(file);
        video.setAttribute("src", videourl);
        video.play();
    })

    const inputFiletrail = document.getElementById("FileUpload3");
    const videomobile = document.getElementById("video");

    inputFiletrail.addEventListener("change", function() {
        const file = inputFiletrail.files[0];
        const videourl = URL.createObjectURL(file);
        video.setAttribute("src", videourl);
        video.play();
    })


</script>

<script type="text/javascript">
    $(document).ready(function() {
        $("#SerachStatus").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#tblload tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $("#SerachStatus").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#tblload tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>


<script type="text/javascript">

    var AwardId = null;
    function AwardIdFun(AwardID) {
        AwardId = AwardID;
    }

    function RemoveLesson() {
        var id = AwardId;
        $.ajax({
            type: "POST",
            url: "/Admin/CustSubscription/DeleteLesson?" + $.param({ LessonSetupID: AwardId }),
            data: id,
            success: function(result) {
                $('#DeleteAward').modal('hide');
                AwardId = null;
                $('.modal-backdrop').css('display', 'none');
                if (result !== null) {
                    swal("Thanks!", "Lesson has beenn Deleted!", "success");
                    location.reload();
                }
                else {

                    swal("OOPS!", "Something Went Wrong", "error");
                    $('.sweet-alert h2 ').css('color', '#FF0000');
                    $('.sweet-alert p').css('color', '#000000');
                }
            }
        });
    }
    var FavId = null;
    function FavIdFun(FavID) {
        FavId = FavID;
    }


    function FavLesson() {
        var id = FavId;
        $.ajax({
            type: "POST",
            url: "/Admin/CustSubscription/FavoriteLesson?" + $.param({ LessonSetupID: FavId }),
            data: id,
            success: function(result) {
                $('#DeleteAward').modal('hide');
                AwardId = null;
                $('.modal-backdrop').css('display', 'none');
                if (result !== null) {
                    swal("Thanks!", "Lesson has been added to favorite", "success");
                    location.reload();
                }
                else {

                    swal("OOPS!", "Something Went Wrong", "error");
                    $('.sweet-alert h2 ').css('color', '#FF0000');
                    $('.sweet-alert p').css('color', '#000000');
                }
            }
        });
    }

    var ExistFavId = null;
    function AlredyFavIdFun(ExistFavID) {
        ExistFavId = ExistFavID;
    }


    function AlreadyFavLesson() {
        var id = ExistFavId;
        $.ajax({
            type: "POST",
            url: "/Admin/CustSubscription/NotFavoriteLesson?" + $.param({ LessonSetupID: ExistFavId }),
            data: id,
            success: function(result) {
                $('#DeleteAward').modal('hide');
                AwardId = null;
                $('.modal-backdrop').css('display', 'none');
                if (result !== null) {
                    swal("Thanks!", "Lesson has been removed from  favorite", "success");
                    location.reload();
                }
                else {

                    swal("OOPS!", "Something Went Wrong", "error");
                    $('.sweet-alert h2 ').css('color', '#FF0000');
                    $('.sweet-alert p').css('color', '#000000');
                }
            }
        });
    }

    //END---------------------------------
    //Ajax Method of Searching------------------------------

    //$('#SerachStatus').keyup(function() {
    //    var Searchletter = $('#SerachStatus').val();
    //    Pageload(Searchletter);
    //});

    //function Pageload(Searchletter) {
    //          $.ajax({
    //            type: "POST",
    //            url: "/Customer/CustSubscription/SearchingStatus?" + $.param({ SearchLetter: Searchletter }),
    //            data: Searchletter,
    //            success: function(result) {
    //                var dataRow = '';
    //                foreach(var item in result){
    //                dataRow += `<tr><td>${item.LessonTitle}</td><td>${item.LessonDescription}</td><td>${item.LessonLanguage}</td><td>${item.LessonStatus}</td>`;
    //                dataRow += `<td class="text-center">
    //                <a type="button" title="Edit" class="btn btn-link btn-sm Edit" href="javascript:void(0)">
    //                                    <i class="fa fa-pencil text-primary font-size-18" aria-hidden="true"></i>
    //                                </a>
    //                                <button id="AwardId" data-toggle="modal" href="#DeleteAward" onclick="AwardIdFun(${item.LessonSetupID})" class="btn btn-danger btn-sm" style="font-size: 0.74rem !important;">Delete Award</button>
    //                </td></tr>`;
    //                        }
    //              $('#tblload').html(dataRow)
    //            }
    //     });
    //}
    var LessonIdvalue = null;
    function EditLesson(LId) {
        LessonIdvalue = $('#LessonId').val();

        var id = LId;
        $.ajax({
            type: "POST",
            url: "/Admin/CustSubscription/EditLesson?" + $.param({ LessonSetUpId: id }),
            data: id,
            success: function(result) {
                $('#LessonId').val(result.lessonSetupId);
                $('#CategoryId').val(result.lessonCategoryId);
                $('#Description').val(result.description);
                $('#languageid').val(result.languageId);
                $('#ManageTitle').val(result.title);
                $('#sortorder').val(result.sortOrder);

                $('#previewlang').text(result.languageId);
                var video = document.getElementById('video');
                video.src = result.videopath;
                video.load();
                video.play();

                $("#nopreview video#video").css("z-index", "2");
                $("#nopreviewImg").css("z-index", "1");
                //else {

                //    swal("Error!", "OOPS! Something Went Wrong", "error");
                //    $('.sweet-alert h2 ').css('color', '#FF0000');
                //    $('.sweet-alert p').css('color', '#000000');
                //}
            }
        });

        $("#video").prop('muted', false);
    }



    function checkisedit(data) {
        debugger;

        $('#status').val(data);

        if (LessonIdvalue != null) {
            $('#FileUpload1').prop('required', false);

        }
        else {
            $('#FileUpload1').prop('required', true);
        }
        if (LessonIdvalue != null) {
            $('#FileUpload2').prop('required', false);

        }
        else {
            $('#FileUpload2').prop('required', true);
        }
        if (LessonIdvalue != null) {
            $('#FileUpload3').prop('required', false);

        }
        else {
            $('#FileUpload3').prop('required', true);
        }
    }


    $("body").on("click", "#btnUpload", function() {
        var formData = new FormData();
        formData.append("fileName", $("#fileName").val());
        formData.append("file", $("#file")[0].files[0]);
        $.ajax({
            url: '/api/FileAPI/UploadFiles',
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function(fileName) {
                $("#fileProgress").hide();
                $("#lblMessage").html("<b>" + fileName + "</b> has been uploaded.");
            },
            xhr: function() {
                var fileXhr = $.ajaxSettings.xhr();
                if (fileXhr.upload) {
                    $("progress").show();
                    fileXhr.upload.addEventListener("progress", function(e) {
                        if (e.lengthComputable) {
                            $("#fileProgress").attr({
                                value: e.loaded,
                                max: e.total
                            });
                        }
                    }, false);
                }
                return fileXhr;
            }
        });
    });
    $("#video").prop('muted', false);
</script>


<script type="text/javascript">
    $(document).ready(function() {
        $('#lessonTable').dataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        });
    });
</script>




<script src="~/custom_js/LessonDetails.js"></script>

